html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex; 
    flex-direction: column;
    align-items: center;    
}
 
body > header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

/* Estilos para la lista desordenada (ul) */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

/* Estilos para los elementos de lista (li) */
li {
    margin: 5px 0;
    padding: 5px;
    background-color: #555;
    border-radius: 5px; 
}

/* Estilos adicionales para resaltar los elementos */
li:hover {
    background-color: #666;
    color: #ff9900;
}

.navitem>a{
    color: white;
}
nav>li > a:visited{
    color: red;
}