@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <div class="row"> 
        <h1 class="display-4">The Simpsons de Rodrigo Sucapuca Alaca</h1>
        <div col-12> 
            <img src="./img/simpson.jpg" width="450px" height="250px"/>
        </div>
    </div>              
</div>
