@model seguridad5.Models.Espeng

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Termino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="esp" class="control-label"></label>
                <input asp-for="esp" class="form-control" />
                <span asp-validation-for="esp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ing" class="control-label"></label>
                <input asp-for="ing" class="form-control" />
                <span asp-validation-for="ing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
