@model seguridad5.Models.Espeng

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Terminos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.esp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.esp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
