body{
    box-sizing: border-box;        
} 
#navegador{        
    display: flex;
    justify-content: center;
    color: white;
}
#navegador>li{
    background-color: black;
    list-style-type: none;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px; 
    font-size: 25px;
}

#navegador>li>a:visited{
    color: white;
} 

#navegador>li:nth-child(2)>ul{
    display:none;
}

#navegador>li:nth-child(2):hover>ul{
    display: block;
    position: relative;
    right: 1.7em;  
}
.dropdown{
    display: block;
}